/*Basic Text Styling*/
.page-header h2 {
    text-transform: uppercase;
}

p.subtitle {
    letter-spacing: 2px;
    margin-top: 10px;
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

p {
    font: 14px/1.5em "Roboto";
}

.navbar-nav>li>a {
    font-family: "Aptos", Helvetica, Arial, sans-serif;
}

/*Page Format */

body {
    background-color: #383838;
    color: #e7e7e9;
}

.home-ha {
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
    height: 400px;
}

header {
    background-color: #F26B1D;
    padding: 10px;
}

nav {
    background-color: #F26B1D;
    padding: 5px;
}

.active-ha {
    color: #200d00;
    background-color: #d8611b;
}

#ha-footer {
    background-color: #2d3035;
}

.nav-link:hover {
    background-color: #9f3a00;
}

.page-header {
    margin: 0 0 60px 0;
    padding: 0;
    border: none;
}